<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>

<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>
<style>
	#map { position: relative; margin: auto; width: 100%; height: 50vh}

	.marker {
	  background-image: url('../../images/mapmarker.png');
	  background-size: cover;
	  width: 50px;
	  height: 50px;
	  border-radius: 50%;
	  cursor: pointer;
	}

	.mapboxgl-popup {
	  max-width: 200px;
	}

	.mapboxgl-popup-content {
	  text-align: center;
	  font-family: 'Open Sans', sans-serif;
	}
</style>
  <title>All events</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>All events</h1>

    <div>
		<form th:action="@{/events/search}" th:object="${searchName}">
			<table class="table table-striped table-hover">
				 <tr>
			    	<td><input class="form-control" type="text" name="searchName" id="searchName" autofocus="autofocus" placeholder = "Search Events by Name"/></td>
			    	<td><button class="btn btn-primary" type="submit"><i class="search" aria-hidden="true"></i>Search</button></td>
			    </tr>
	    	<table>
	    </form>
    </div>
    <div sec:authorize="isAuthenticated()">
    	<p><a class="btn btn-primary" role="button" href="/events/add"><i class="fas fa-plus" aria-hidden="true"></i> Add Event</a></p>
    </div>
    <a class="btn btn-primary" role="button"  href="/"><i  aria-hidden="true"></i> Go back </a><br><br>
    <h2>Upcoming events:</h2>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><i class="fas fa-bolt"></i> Event</th>
          <th><i class="fas fa-map-marker-alt"></i> Venue</th>
          <th><i class="fas fa-calendar"></i> Date</th>
          <th><i class="fas fa-clock"></i> Time</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="e : ${upcoming}">
          <td th:text="${e.name}">My Event</td>
          <td><a th:text="${e.venue.name}" th:href="@{/venues/{id}(id = ${e.venue.id})}"> Event venue </a></td>
          <td th:utext="${{e.getDateString()}}">Event date</td>
          <td th:text="${{e.time}}">Event time</td>
          <td>
          	<form th:action="@{/events/{num}(num=${e.id})}">
      		  <button type="submit"><i class="fas fa-eye" aria-hidden="true"></i> View</button>
    	  	</form>
    	  </td>
        </tr>
      </tbody>
    </table>

<h2>Previous events:</h2>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><i class="fas fa-bolt"></i> Event</th>
          <th><i class="fas fa-map-marker-alt"></i> Venue</th>
          <th><i class="fas fa-calendar"></i> Date</th>
          <th><i class="fas fa-clock"></i> Time</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="e : ${previous}">
          <td th:text="${e.name}">My Event</td>
          <td><a th:text="${e.venue.name}" th:href="@{/venues/{id}(id = ${e.venue.id})}"> Event venue </a></td>
          <td th:utext="${{e.getDateString()}}">Event date</td>
          <td th:text="${{e.time}}">Event time</td>
          <td>
          	<form th:action="@{/events/{num}(num=${e.id})}">
      		  <button type="submit"><i class="fas fa-eye" aria-hidden="true"></i> View</button>
    	  	</form>
    	  </td>
        </tr>
      </tbody>
    </table>
<br>

<h2>Twitter feed</h2>
    <table class="table table-striped table-hover">
      	<thead>
        	<tr>
        		<th>Date</th>
        	</tr>
      	</thead>
      	<tbody>
      		<tr th:each="tweet : ${tweets}" >
      		
      			<td th:text = "${tweet.getCreatedAt()}">Date created</td>
      			<td><a th:text = "${tweet.getText()}" th:style="|${'color: #1DA1F2;'}|" th:href="@{https://twitter.com/{uid}/status/{id}(uid = ${tweet.getUser().getScreenName()}, id = ${tweet.getId()})}">Tweet</a></td>
      		
      		</tr>
      	</tbody>
    </table>
<br>

<div id="map"></div>
<br>
	<script th:inline="javascript">
	
		mapboxgl.accessToken = 'pk.eyJ1IjoiaG9yaWFyYWR1IiwiYSI6ImNrbmV2NmI4MDF2NW0yd211aXdqM3lyOWcifQ.eH2LOcxZRqCa0LvHngEZHg';
		var map = new mapboxgl.Map({
			container: 'map', // container id
			style: 'mapbox://styles/mapbox/streets-v11', // style URL
			center: [0, 0], // starting position [lng, lat]
			zoom: -1 // starting zoom
		});
	
		/*<![CDATA[*/
		
		var events = [[${upcoming}]];
		
		events.forEach(function(marker) {
			console.log(marker.venue.latitude)
			console.log(marker.venue.longitude)
			var el = document.createElement('div');
  			el.className = 'marker';

  			var long = marker.venue.longitude
  			var lat = marker.venue.latitude
  			
  			if (typeof long === 'undefined') {
  				return;
  			}
  			
  			if (typeof lat === 'undefined') {
  				return;
  			}
  			
  			// Add offset to deal with stacked events
  			long = long + Math.random() * (.00008)
  			lat = lat + Math.random() * (.00008)

  			var time = '';
  			if (typeof marker.time !== 'undefined' && marker.time !== null) {
				time = 'Starts at ' + marker.time.slice(0, -3)
			}
  			// make a marker for each feature and add to the map
  			new mapboxgl.Marker(el)
    			.setLngLat([long, lat])
    			.setPopup(
					new mapboxgl.Popup({ offset: 25 }) // add popups
						.setHTML(
							'<h3>' +
								marker.name +
							'</h3><p>' +
								time +
							'</p>'
						)
				)
    			.addTo(map);
		});
		
		/*]]>*/
	</script>

	
  </div>


</body>
</html>
