<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title th:text="${name}">Event title</title>
</head>
<body>
  <div layout:fragment="content">
    <h1 th:text="${name}">Event!</h1>

    <blockquote>
      <p th:text="'When: ' + ${date} + ' ' + ${time}">Event date</p>
      <p th:text="'Where: ' + ${venue}">Venue</p>
      <p th:text="'Why: ' + ${description}">Event description</p>
    </blockquote>
    </form>
  </div>
</body>
</html>