<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title th:text="${name}">Event title</title>
</head>
<body>
  <div layout:fragment="content">
    <h1 th:text="${name}">Event!</h1>

    <blockquote>
      <p th:text="'When: ' + ${date} + ' ' + ${time}">Event date</p>
      <p th:text="'Where: ' + ${venue}">Venue</p>
      <p th:text="'Why: ' + ${description}">Event description</p>
    </blockquote>
    </form>
    <br><br>
    <div sec:authorize="isAuthenticated()">
    	<h2>Edit event information</h2>
	    <form action="#" th:action="@{/events}" th:object="${event}" method="POST">
	       <input class="form-control" type="hidden" name="newid" id="newid" th:value="${id}"/><br>
	    	
		   <label for="newname">New name:</label>
		   <input class="form-control" type="text" name="newname" id="newname" th:value="${name}"/><br>
		   
		   <label for="newdate">New date:</label>
		   <input class="form-control" type="date" name="newdate" id="newdate" th:value="${date}"/><br>
		   
		   <label for="newtime">New time:</label>
		   <input class="form-control" type="time" name="newtime" id="newtime" th:value="${time}"/><br>
		   
		   <label for="newvenue">New venue:</label>
		   <select class="form-control" name="newvenue" id="newvenue">
		   	  <option th:each="v :${venues}" th:value="${v.id}" th:text="${v.name}" th:selected="${v.name==venue}"></option>
		   </select><br>
		   	
		   
		   <label for="newdesc">New description:</label>
		   <textarea class="form-control" rows="3" name="newdesc" id="newdesc">
		   [[${description}]]</textarea><br>
		   
		   <button class="btn btn-primary" type="submit">Update Event</button>
		</form>
	</div>
  </div>
</body>
</html>