<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title th:text="${name}">Event title</title>
</head>
<body>
  <div layout:fragment="content">
    <h1 th:text="${name}">Event!</h1>

    <blockquote>
      <p th:text="'When: ' + ${date} + ' ' + ${time}">Event date</p>
      <p th:text="'Where: ' + ${venue}">Venue</p>
      <p th:text="'Why: ' + ${description}">Event description</p>
    </blockquote>
    </form>
    <br>
    <a href="/events">Go Back</a><br><br>
    <div sec:authorize="isAuthenticated()">
    	<h2>Edit event information</h2>
	    <form action="#" th:action="@{/events/update}" th:object="${event}" method="POST">
	       <input class="form-control" type="hidden" name="id" id="id" th:value="${id}"/><br>
	    	
		   <label for="name">New name:</label>
		   <input class="form-control" type="text" name="name" id="name" th:value="${name}" required/><br>
		   
		   <label for="date">New date:</label>
		   <input class="form-control" type="date" name="date" id="date" th:value="${date}" required/><br>
		   
		   <label for="time">New time:</label>
		   <input class="form-control" type="time" name="time" id="time" th:value="${time}"/><br>
		   
		   <label for="venueId">New venue:</label>
		   <select class="form-control" name="venueId" id="venueId" required>
		   	  <option th:each="v :${venues}" th:value="${v.id}" th:text="${v.name}" th:selected="${v.name==venue}"></option>
		   </select><br>
		   	
		   
		   <label for="description">New description:</label>
		   <textarea class="form-control" rows="3" name="description" id="description">
		   [[${description}]]</textarea><br>
		   
		   <button class="btn btn-primary" type="submit">Update Event</button>
		</form>
		<br>
	</div>
  </div>
</body>
</html>